{% assign data = include.data | sort: 'date' | reverse %}

<div class="splide mb-3" id="splide-{{ include.id }}" aria-label="News Highlights Slider">
  <div class="splide__track">
    <ul class="splide__list">
      {% for item in data | limit: include.limit %}
        <li class="splide__slide">
          <div class="card hover-zoom">
            <div class="card-content">
              <div class="content">
                <p class="eyebrow">
                  {%- if item.event -%}
                  <span class="material-symbols-outlined">&#xe878;</span>&nbsp;&nbsp;
                  {%- else -%}
                  <span class="material-symbols-outlined">&#xf009;</span>&nbsp;&nbsp;
                  {%- endif -%}
                  {% assign eyebrow = item.series | default: item.category %}
                  <a class="has-text-warning" href="/news/{{ eyebrow | slugify }}s/">{{ eyebrow }}</a>
                </p>
                {% unless include.hide_images %}
                <a href="{{ item.url }}">
                  <figure class="image is-3by1 mb-3 mt-0 mx-0">
                    <img class="img-fit" data-splide-lazy="{{ item.hero_image | default: '/assets/images/defaults/news.png' }}" alt="{{ item.hero_image_alt | default: 'Placeholder pots image' }}">
                  </figure>
                </a>
                {% endunless %}
                <p class="title is-size-5 is-size-6-mobile">
                  <a href="{{ item.url }}">
                    {{ item.title }}
                  </a>
                </p>
                <p class="subtitle is-size-6 is-size-7-mobile pt-3">
                  {% if item.event %}
                  HAPPENING {{ item.eventDate | date: "%b %d, %Y" | upcase }}
                  {% else %}
                  PUBLISHED {{ item.date | date: "%b %d, %Y" | upcase }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  var splide = new Splide( '#splide-{{ include.id }}', {
    perPage: 3,
    lazyLoad: 'nearby',
    rewind : true,
    gap    : '1.5rem',
    breakpoints: {
      900: {
        perPage: 2,
        gap    : '.7rem'
      },
      600: {
        perPage: 1,
        gap    : '.7rem'
      },
    },
  } );
  splide.mount();
</script>

