<div class="sticky">
	<div class="topnav-wrap box-shadow">
		<div class="inner">
			<div class="topnav justify">
				<a href="{{ '/' | absolute_url }}" class="logo">
					<span class="title">{{ site.title }}</span>
				</a>
				<a class="topnav-right" href="{{ 'search' | absolute_url }}">Search</a>
			</div>
		</div>
	</div>
	<div class="topnav-wrap gradient">
		<div class="inner">
			<div class="topnav">
				{% for item in site.menu %}
				<a class="topnav-right" href="{{ item.link | absolute_url }}">{{ item.label }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
