{% assign placeholder = include.placeholder | default: 'Search... ' %}
{% assign config = site.search %}
{% assign index = config.index %}

<div class='search-block'>
  <div class='input-group'>
    <input type='text' class='form-control' id='search' name='x' placeholder='{{ placeholder }}'>
  </div>
  <div id='results'></div>
</div>

<script type='text/javascript' src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
<script type='text/javascript' src="{{ '/assets/js/elasticlunr.min.js' | absolute_url }}"></script>
<script type='text/javascript' src="{{ '/assets/js/search-ui.js' | absolute_url }}"></script>
<script type='text/javascript'>
  var fields    = ['title', 'content'];
  var indexFile = "{{ index | absolute_url }}";

  $(document).ready(function() {
    startSearchUI(fields, indexFile);
  });
</script>
