<div class='updates table-list-block'>
  <table>
    {% assign sorted_updates = site.data.update_list | reverse %}
    {% for item in sorted_updates limit: include.limit %}
      <tr>
        <td>
          <b>{{ item.date | date: "%m/%d/%Y" }}</b>
        </td>

        <td>&nbsp;&nbsp;&nbsp;➮&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a href="{{ item.link | absolute_url }}">
            {{ item.text }}
          </a>

        </td>
      </tr>
    {% endfor %}
  </table>
  {% if include.limit %}
    <br>
    <p><a href="{{ '/update-archive' | absolute_url }}">View all</a></p>
  {% endif %}
</div>
