<div class="tile is-ancestor is-flex-wrap-wrap">
  {% for project in include.data %}
  <div class="tile is-parent is-4">
    <div class="tile is-child box">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ project.img | default: 'https://bulma.io/images/placeholders/64x64.png' }} " alt="{{ project.title }} image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6">{{ project.title }}</p>
          <p class="subtitle is-7 pt-1">{{ project.tagline }}
          {% if project.link %}
            &nbsp;&nbsp;<a href="{{ project.link | absolute_url }}"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
