---
layout: none
---
<!DOCTYPE html>
<!--class="has-navbar-fixed-top"-->
<html lang="{{ site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
      {% if page.home %}
        {% include hero/home.html %}
      {% elsif page.collection == 'news' %}
        {% if page.event %}
          {% include hero/event.html %}
        {% else %}
          {% include hero/news.html %}
        {% endif %}
      {% elsif page.collection == 'projects' %}
          {% include hero/project.html %}
      {% else %}
        {% include hero/default.html %}
      {% endif %}
    <div class="section">
      <div class="container m-auto">
        {{ content }}
      </div>
    </div>
    {% unless page.hide_footer %}
      {% include footer.html %}
    {% endunless %}
    {%- include scripts/footer.html -%}
  </body>
</html>
