---
layout: none
---
<!DOCTYPE html>
<!--class="has-navbar-fixed-top"-->
<html lang="{{ site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% unless page.hide_hero %}
      {% include hero.html %}
    {% endunless %}
    <section class="section">
      <div class="container m-auto">
        {{ content }}
      </div>
    </section>
    {% unless page.hide_footer %}
      {% include footer.html %}
    {% endunless %}
    {%- include footer-scripts.html -%}
  </body>
</html>
