---
layout: default
breadcrumbs:
  - name: Projects
    link: /projects
---
<div class="content">
  <p class="project-info">
    {% if page.category %}<b>Category: </b> {{ page.category }}<br>{% endif %}
    {% if page.cohort_year %}<b>Year Funded: </b> {{ page.cohort_year }}<br>{% endif %}
    {% if page.link %}<b>Project Website: </b> <a href="{{ page.link | absolute_url }}">{{ page.link }}</a><br>{% endif %}
  <p>
  <p>{{ page.abstract | escape }}</p>
</div>

{% assign people = '' | split: '' %}
{% for pid in page.pis %}
  {% assign person = site.data.people | find: 'pid', pid %}
  {% if person.size %}
  {% assign people = people | push: person %}
  {% endif %}
{% endfor %}

{% if people. size > 0 %}
<section class="section full-width">
  <div class="container">
    <p class="is-size-3 pb-3">People</p>
    {% include custom/people-cards.html data=people %}
  </div>
</section>
{% endif %}
