---
layout: page
breadcrumbs:
  - name: Projects
    link: /projects
---
{%- if page.category -%}**Category:** {{ page.category }}<br>{%- endif -%}
{%- if page.cohort_year -%}**Year Funded:** {{ page.cohort_year }}<br>{%- endif -%}
{%- if page.link -%}**Project Website:** [{{ page.link }}]({{ page.link }})<br>{%- endif -%}
{% assign pis = page.pis | split: ';' %}
{%- if pis -%}
**People:**&nbsp;
{%- for p in pis -%}
{% assign pi = site.data.people | find: 'pid', p %}{{ pi.name }}{% unless forloop.last %}, {% endunless %}{%- endfor -%}
{%- endif -%}

<br><br>
{{ page.abstract | escape }}
