<style>
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0 !important;
    padding: 0 0 1em 0 !important;
    border: 0 !important;
    outline: 0 !important;
    font-size: 100% !important;
    vertical-align: middle !important;
    background: transparent !important;
    line-height: 150%;
  }
</style>

<div class='events'>
  <table>
    {{ site.events }}
    {% assign sorted = site.events sort: date %}
    {% if include.sticky %}{% assign sorted = sorted | where: 'sticky', true %}{% endif %}
    {% for item in sorted %}
      <tr>
        <td>
          <b>{{ item.date | date: "%m/%d/%Y" }}</b>
        </td>

        <td>&nbsp;&nbsp;&nbsp;➮&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a href="{{ item.url | absolute_url }}">
            {{ item.title }}
          </a>

        </td>
      </tr>
    {% endfor %}
  </table>
  {% if include.sticky %}
    <br>
    <p><a href="{{ '/event-archive' | absolute_url }}">View all</a></p>
  {% endif %}
</div>
