<section class="tiles">
{% assign sticky = site.pages | where: 'sticky', true | sort: 'order' %}
{% assign maxstyles = 5 %}
{% for page in sticky %}
	<p>{{ styles }}</p>
	{% if forloop.index > maxstyles %}
		{% assign stylenum = forloop.index | minus: maxstyles %}
		{% if stylenum > maxstyles %}
			{% assign stylenum = stylenum | minus: maxstyles %}
		{% endif %}
	{% else %}
		{% assign stylenum = forloop.index %}
	{% endif %}
	<article class="style{{ stylenum }}">
		<span class="image">
			<img src="{{ 'images/nyu' | append: stylenum | append: '.jpg' | absolute_url }}" alt="" />
		</span>
		<a href="{{ page.url | absolute_url }}">
			<h2>{{ page.title }}</h2>
			<!-- <div class="content">
				<p>{{ page.excerpt }}</p>
			</div> -->
		</a>
	</article>
{% endfor %}

</section>
