<script src="/assets/js/siema.min.js"></script>

{% assign data = include.data | sort: 'date' | reverse %}
<div id="siema-{{ include.id }}">
  {% for item in data | limit: include.limit %}
    <div class="slide">
      <div class="card hover-zoom">
        <div class="card-content">
          <div class="content">
            <p class="eyebrow">
              {%- if item.event -%}
              <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
              {%- else -%}
              <i class="far fa-newspaper"></i>&nbsp;&nbsp;
              {%- endif -%}
              {{ item.series | default: item.category }}
            </p>
            {% if item.hero_image %} 
            <figure class="image is-3by1 mb-3 mt-0">
              <img class="img-fit" src="{{ item.hero_image | absolute_url }}" alt="">
            </figure>
            {% endif %}
            <p class="title is-size-5">
              <a href="{{ item.url }}">
                {{ item.title }}
              </a>
            </p>
            <p class="subtitle is-size-7 pt-3">
              {% if item.event %}
              HAPPENING {{ item.eventDate | date: "%b %d, %Y" | upcase }}
              {% else %}
              PUBLISHED {{ item.date | date: "%b %d, %Y" | upcase }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<button class="prev-{{ include.id }}">prev</button>
<button class="next-{{ include.id }}">next</button>

<script>
  var siema{{ include.id }} = new Siema({
    selector: '#siema-{{ include.id }}',
    perPage: {
      800: 2,
      1100: 3
    },
    loop: true,
    draggable: true,
  multipleDrag: true,
  });
  document.querySelector('.prev-{{ include.id }}').addEventListener('click', () => siema{{ include.id }}.prev());
  document.querySelector('.next-{{ include.id }}').addEventListener('click', () => siema{{ include.id }}.next());
</script>

