{% assign data = include.data | sort: 'date' | reverse %}

<div class="columns is-multiline is-mobile">
  {% for item in data | limit: include.limit %}
    <div class="column is-one-third">
      <div class="card hover-zoom">
        <div class="card-content">
          <div class="content">
            <p class="eyebrow">
              {%- if item.event -%}
              <span class="material-symbols-outlined">event</span>&nbsp;&nbsp;
              {%- else -%}
              <span class="material-symbols-outlined">feed</span>&nbsp;&nbsp;
              {%- endif -%}
              {{ item.series | default: item.category }}
            </p>
            {% unless include.hide_images %}
            <figure class="image is-3by1 mb-3 mt-0 mx-0">
              <img class="img-fit" src="{{ item.hero_image | default: '/media/banners/doodles/seedgrants.png' }}" alt="">
            </figure>
            {% endunless %}
            <p class="title is-size-5">
              <a href="{{ item.url }}">
                {{ item.title }}
              </a>
            </p>
            <p class="subtitle is-size-7 pt-3">
              {% if item.event %}
              HAPPENING {{ item.eventDate | date: "%b %d, %Y" | upcase }}
              {% else %}
              PUBLISHED {{ item.date | date: "%b %d, %Y" | upcase }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>