<section class="{% if include.full_width == true %}full-width py-3 px-5{% endif %}">
  <div class="columns is-multiline">
    {% for person in include.data %}
      <div class="column is-4">
        <div class="is-relative m-3">
          <figure class="image mb-2">
          {%- if person.local_image.size > 0 -%}
            {% assign alt = "Photo of " | append: person.name %}
          {%- else -%}
            {% assign alt = '' %}
          {%- endif -%}
          {%- if person.link -%}
            <a href="{{ person.link | absolute_url }}">
              <figure class="bg-neutral-gradient person-circle">
                {% if person.local_image %}
                <img src="{{ person.local_image | prepend: 'media/people/' | absolute_url }}" alt="{{ alt }}"/>
                {% endif %}
              </figure>
              <p class="is-size-5 pt-3 has-text-weight-bold">
                {{ person.name }}
              </p>
            </a>
          {%- else -%}
            <figure class="bg-neutral-gradient person-circle">
              {% if person.local_image %}
              <img src="{{ person.local_image | prepend: 'media/people/' | absolute_url }}" alt="{{ alt }}"/>
              {% endif %}
            </figure>
            <p class="is-size-5 pt-3 has-text-weight-bold">{{ person.name }}</p>
          {%- endif -%}
          </figure>
          <p class="is-size-6 sm-lines is-italic" style="color:#444">{{ person.titles }}</p>

          {% assign projects = site.projects | where_exp: "p", "p.pis contains person.pid" %}
          {% if projects.size > 0 %}
          <p class="is-size-7 sm-lines mt-2">
            Project{% if projects.size > 1%}s{% endif %}:&nbsp;
            {%- for p in projects -%}
            <a class="is-underlined" href="{{ p.url | absolute_url }}">{{ p.title }}</a>
            {% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
            {%- endfor -%}
          </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
