{% assign projects = include.data %}
<section class="{% if include.full_width == true and page.layout == 'default' %}full-width py-3 px-5{% endif %}">
  <div class="columns is-multiline">
    {% for project in projects | limit: include.limit %}
      <div class="column is-one-third">
        <div class="card hover-zoom is-relative">
          <div class="card-content p-0">
            <figure class="image is-3by1 mb-3">
              {% if project.local_image %}
              {% assign img = project.local_image | prepend: 'media/projects/' %}
              {% else %}
              {% assign img = '/media/defaults/projects.png' %}
              {% endif %}
              <img class="img-fit" src="{{ img | absolute_url }}" alt="Image for {{ project.title }} project">
            </figure>
            <p class="title is-size-5 mb-3 sm-lines">
              <a href="{{ project.url | absolute_url }}">{{ project.title }}</a>
            </p>
            {% if project.tags %}
            <div class="tags">
              {% for tag in project.tags %}
                <a href="/projects/tag/{{ tag | slugify }}" class="tag is-link is-success is-small">#{{ tag | slugify }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
