{% assign projects = include.data %}
<section class="{% if include.full_width == true and page.layout == 'default' %}full-width py-3 px-5{% endif %}">
  <div class="columns is-multiline">
    {% for item in projects | limit: include.limit %}
    <div class="column is-3">
      <div class="card hover-zoom">
        <div class="card-content">
          <div class="content">
            <figure class="image is-3by2 mx-0 mb-3 mt-0">
              {% assign image = item.image | default: '/assets/images/defaults/projects.png' %}
              <a href="{{ item.url }}">
                <img class="img-fit" src="{{ image | absolute_url }}" alt="Image for {{ project.title }}">
                {% if item.tags %}
                <div class="is-overlay has-text-left m-1">
                  {% for tag in item.tags %}
                  <p class="tag is-small is-warning is-dark is-family-monospace mb-1">#{{ tag | slugify }}</p>
                  {% endfor %}
                </div>
                {% endif %}
              </a>
            </figure>
            <p class="title {% if item.title.size > 45 %} is-6 {% else %} is-5{% endif %} mb-0">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>