$accent1: #8900e1;
/* french violet */
$accent2: #db5c5c;
/* indian red */
$accent3: #D3C1D2;
/* lavender */
$accent4: #0F7173;
/* skobeloff */
$text-color: #1A1423;
/* #290502; */
$neutral1: whitesmoke;
/* #f5f5f5 */
$neutral2: lightgrey;
$palette: (
  bg: $neutral1,
  bg-accent: $accent1,
  bg-alt: $neutral2,
  fg: $text-color,
  fg-accent: white,
  border: $text-color,
  border-bg: rgba(144,144,144,0.075),
  accent1: $accent4,
  accent2: $accent3,
  accent3: $accent2,
);
$size: (
  border-radius: 4px,
  border-width: 1px,
  element-height: 3em,
  element-margin: 2em,
  gutter: 2.5em,
  field-gutter: 2em,
  inner: 58em,
  menu: 22em
);
$font: (
  family: ('Work Sans', Helvetica, sans-serif),
  family-fixed: ('Courier New', monospace),
  weight: 400,
  weight-bold: 900,
  weight-bold-alt: 600,
  letter-spacing: 0.35em,
  letter-spacing-alt: -0.035em
);

#wrapper {
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, $accent1, $accent2);
}

.accent1-color {
  color: $accent1;
}

.accent2-color {
  color: $accent2;
}

#header {
  padding: 3em 0 0.1em;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.topnav-wrap {
  background-color: $text-color;
  overflow: hidden;
}

.justify {
  justify-content: space-between;
}
/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;

  a {
    float: left;
    text-align: center;
    font-size: 17px;
    color: $neutral1;
    text-decoration: none;
    border-bottom: none;
    padding-right: 1.5em;
  }

  a.active,
  a:hover {
    color: $neutral1 !important;
    text-decoration: underline;
  }

  .logo {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}

.gradient {
  background: linear-gradient(to right, $accent1, $accent2);
}

.box-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 1px;
  z-index: -1;
  box-shadow: 0 0 8px 0.2em $text-color;
}

.project-card {
  border-left: 1.5em solid;
  padding: 1.5em;
  background: white;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, $accent3, $accent4);
  margin: 1.5em 0;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

  .definition-block {
    display: flex;
    flex-wrap: wrap;
  }

  .label {
    flex-grow: 1;
    flex-basis: 25%;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-bottom: 1em;
    padding-right: 1rem;
  }

  .content {
    flex-grow: 3;
    flex-basis: 75%;
    padding-bottom: 1em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-indent: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }

    li:not(:last-child) {
      padding: 0 0 0.5em;
    }
  }
}

span.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

#results .title {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.table-list-block {
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0 !important;
    padding: 0 0 1em 0 !important;
    border: 0 !important;
    outline: 0 !important;
    font-size: 100% !important;
    vertical-align: middle !important;
    background: transparent !important;
    line-height: 150%;
  }
}
