{% assign data = include.data | sort: 'date' | reverse %}

<div class="splide" id="splide-{{ include.id }}" aria-label="Announcement Slider">
    <div class="splide__track">
        <ul class="splide__list">
        {% for item in data | limit: include.limit %}
          <li class="splide__slide">
            <div class="card p-3 hover-zoom">
                <div class="card-content">
                    <div class="content">
                        <p class="eyebrow">
                        {%- if item.event -%}
                        <span class="material-symbols-outlined">event</span>&nbsp;&nbsp;
                        {%- else -%}
                        <span class="material-symbols-outlined">feed</span>&nbsp;&nbsp;
                        {%- endif -%}
                        {{ item.series | default: item.category }}
                        </p>
                        <p class="title is-size-5 is-size-6-mobile">
                        <a href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                        </p>
                        <p class="subtitle is-size-6 is-size-7-mobile pt-3">
                        {% if item.event %}
                        HAPPENING {{ item.eventDate | date: "%b %d, %Y" | upcase }}
                        {% else %}
                        PUBLISHED {{ item.date | date: "%b %d, %Y" | upcase }}
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script>
  var splide = new Splide( '#splide-{{ include.id }}', {
    perPage: 3,
    rewind : true,
    gap    : '1.5rem',
    breakpoints: {
      1200: {
        perPage: 2,
        gap    : '.7rem'
      },
      800: {
        perPage: 1,
        gap    : '.5rem'
      }
    },
  } );
  splide.mount();
</script>

