
<footer class="footer">
  <div class="container">
    <div class="columns">
      {% for col in site.data.footer_menu.columns %}
      <div class="column">
        <p class="has-text-bold is-size-7 is-underlined">{{ col[0] }}</p>
        <ul class="is-size-6">
          {% for item in col[1] %}
          <li>
            <a href="{{ item.link | relative_url }}" class="link" {% if item.link contains 'http' %}target="_none"{% endif %}>
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>

    <div class="is-small">
      <p class="logo" style="vertical-align:middle;">
        <img src="{{ 'assets/logo.png' | absolute_url }}" alt="NYU Torch Logo" style="filter:invert(100%);vertical-align:middle;width:60px;">
        <span style="vertical-align:middle;">DH</span>
      </p>
      <p class="is-size-7">{{ site.data.footer_menu.copyright }}</p>
    </div>
  </div>
</footer>
