
<footer class="footer">
  <div class="container">
    <div class="columns">
      {% for col in site.data.footer_menu.columns %}
      <div class="column">
        <p class="has-text-bold is-size-7">
          <span style="border-bottom: 1px solid black;">{{ col[0] }}</span>
        </p>
        <ul class="is-size-6">
          {% for item in col[1] %}
          <li>
            <a href="{{ item.link | relative_url }}" class="link" {% if item.link contains 'http' %}target="_blank"{% endif %}>
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>

    <div class="is-small">
      <p class="is-size-7">{{ site.data.footer_menu.copyright }}</p>
    </div>
  </div>
</footer>
