<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="limerick" content="{{ site.limerick }}">
    <meta name="robots"   content="index, follow">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="shortcut icon" type="image/ico" href="{{ 'assets/favicon.ico' | absolute_url }}"/>
    <link rel="stylesheet" href="/assets/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    <title>
      {% if page.home %}
        {{ site.title | strip_html }}
      {% else %}
        {{ page.title | strip_html }} | {{ site.title | strip_html }}
      {% endif %}
    </title>

    {% seo title=false %}
    {%- if page.local_image -%}
    <meta property="og:image" content="{{ page.local_image | prepend: 'media/projects/' | absolute_url }}" />
    <meta name="twitter:image" content="{{ page.local_image | prepend: 'media/projects/' | absolute_url }}">
    {% else -%}
    <meta property="og:image" content="{{ '/assets/og_image.jpg' | absolute_url }}" />
    <meta name="twitter:image" content="{{ '/assets/og_image.jpg' | absolute_url }}">
    {%- endif -%}
    {%- if page.tagline -%}
    <meta name="description" content="{{ page.tagline }}"/>
    <meta property="og:description" content="{{ page.tagline }}" />
    <meta name="twitter:description" content="{{ page.tagline }}">
    {% elsif page.subtitle %}
    <meta name="description" content="{{ page.subtitle }}"/>
    <meta property="og:description" content="{{ page.subtitle }}" />
    <meta name="twitter:description" content="{{ page.subtitle }}">
    {% else %}
    <meta name="description" content="{{ site.tagline }}"/>
    <meta property="og:description" content="{{ site.tagline }}" />
    <meta name="twitter:description" content="{{ site.tagline }}">
    {%- endif -%}


    {%- include scripts/google-analytics.html -%}
    {%- include scripts/head.html -%}
</head>
