<!-- <nav class="navbar is-black">
  <div class="container" style="display:flex;justify-content:left;align-items:center;flex-wrap:wrap;padding:.5rem">
    <a class="logo" href="https://nyu.edu" target="_blank">
      <img src="{{ 'assets/logo.png' | absolute_url }}" alt="NYU Torch Logo" style="height:1rem;margin-top:.4rem;">
    </a>
    {% if site.data.navigation %}
      {% for item in site.data.units %}
      <span class="unit-item is-size-7">
        &nbsp;&nbsp;|&nbsp;
        <a class="has-text-white" href="{{ item.link }}" {% if item.link contains 'http' %}target="_blank"{% endif %}>{{ item.name }}</a>
      </span>
      {% endfor %}
    {% endif %}
  </div>
</nav> -->

