{%- if page.hero_image -%}
{%- capture img_style -%}
style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ page.hero_image | absolute_url }}')"
{%- endcapture -%}
{%- endif -%}

{% if page.home %}
<section class="hero is-primary border-gradient is-home is-medium" {{ img_style }}>
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title pb-1">{{ site.full_title }}</h1>
        <p class="subtitle">{{ site.tagline }}</p>
      </div>
    </div>
  </div>
</section>
{% else %}
  <section class="hero is-primary border-gradient" {{ img_style }}>
    <div class="hero-body">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <div class="container">
          <ul>
            {% assign crumbs = page.breadcrumbs | default: layout.breadcrumbs %}
            {% for crumb in crumbs %}
            <li><a href="{{ crumb.link | absolute_url }}">{{ crumb.name }}</a></li>
            {% endfor %}
            <li></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="content">
          <p class="title pb-1">{{ page.title }}</p>
          {% if page.subtitle %}
          <p class="subtitle pt-3">{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>'  }}</p>
          {% elsif page.tagline %}
          <p class="subtitle pt-3">{{ page.tagline | markdownify | remove: '<p>' | remove: '</p>'  }}</p>
          {% endif %}
          {% if page.hero_buttons %}
          <div class="buttons pt-3">
            {% for button in page.hero_buttons %}
            <a class="button is-white is-outlined" href="{{ button.link | absolute_url }}" {% if button.external %}target="none"{% endif %}>
              {{ button.label }}
              {% if button.external %}&nbsp;<i class="fas fa-external-link-alt"></i>{% endif %}
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
