@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

$family-sans-serif: 'DM Sans', sans-serif;
$family-fancy: 'Montserrat', sans-serif;

$navbar-breakpoint: 800px;
$widescreen-enabled: false;
$fullhd-enabled: false;

$info: #321650 !default;
$primary: #8806ce !default;
$secondary: #C5F5CB !default;
$tertiary:  #E63946 !default;
$background: #EAEAEA !default;
$background-alt: #F5EBE0 !default;
$bonus: #2E0219 !default;
$text: #050404 !default;
$link: $primary !default;
$link-hover: $tertiary !default;
$footer-background-color: #d9dbd9 !default;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

body, html {
  font-size: 1.05rem;
  line-height: 1.75em;
}

.title {
  max-width: 25ch;
  letter-spacing: .05em;
  font-size: 2.25rem;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: white;
}

.navbar.is-primary
.navbar-brand >
.navbar-item,
.navbar.is-primary
.navbar-brand .navbar-link {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .05rem;
}

.container {
  max-width: 900px !important;
}

.content {
  max-width: 60ch;
}

.border-gradient {
  border-bottom: solid;
  border-image-slice: 1;
  border-width: .5rem;
  border-image-source: linear-gradient(to left, $background-alt, $tertiary);
}

::selection {
  background: $secondary;
  color: $text;
}
::-moz-selection {
  background: $secondary;
  color: $text;
}

.is-secondary {
  color: $secondary !important;
}

.is-tertiary {
  color: $tertiary !important;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.hero.is-primary .subtitle a {
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero.is-home {
  margin-bottom: -6rem;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.is-bg-alt {
  background: $background-alt !important;
}

.person-circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #efefef;
  img {
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.full-w {
  width: 100% !important;
}
.full-h {
  height: 100% !important;
}
.sm-lines {
  line-height:1.1rem;
}
.md-lines {
  line-height:1.3rem;
}
.m-auto {
  margin: auto !important;
}
html {
  scroll-behavior: smooth;
}

.hero-body {
  padding: 2rem 2rem;
}


.hover-zoom {
  transition: transform .3s;
  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
}
figure.image {
  overflow: hidden;
}
.boop {
  position: relative;
}
.boop::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, $background-alt, $footer-background-color);
}

.bg-neutral-gradient {
  background: linear-gradient(to left, $background-alt, $footer-background-color);
}

.img-fit {
  object-fit: cover;
  object-position: center 10%;
  filter: saturate(80%) blur(0);
  -webkit-filter: saturate(80%) blur(0);
  -moz-filter: saturate(80%) blur(0);
  -o-filter: saturate(80%) blur(0);
  -ms-filter: saturate(80%) blur(0);
}

.fancy-font {
  font-family: $family-fancy;
}
.title {
  font-family: $family-fancy;
}
.subtitle {
  font-size: 1.15rem;
  line-height: 1.5rem;
}

.navbar-link.group-header {
  @include until($navbar-breakpoint) {
    cursor: default !important;
    color: $text !important;
    text-decoration: underline;
    background-color: initial;
  }
}

.button {
  max-width: 100%;
  overflow-x: scroll;
}

.post-content {
  h2, h3, h4, h5, h6 {
    color: #321650;
    max-width: 600px;
  }
  h2 {
    font-weight: normal;
    font-family: $family-fancy;
    font-size: 1.75rem;
  }
  h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    filter: brightness(75%);
    font-size: 1.27rem;
  }
  h4 {
    color:lighten(#321650, 20%);
    font-size: 1.2rem;
  }
  h5 {
    color: lighten($text, 35%);
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1rem;
  }
   h6 {
     font-size: 1rem;
  }
}

.monospace {
  font-family: monospace;
}

.border-bottom-hover {
  border-bottom: 1px solid;
  &:hover {
    border-bottom: none;
  }
}

.blog {
  img.max-h250 {
    max-height: 250px;
  }
  img.max-w250 {
    max-width: 250px;
  }
  img.inline-right {
    float: right;
    margin: 0 0 1rem 1rem;
  }
  img.inline-left {
    float: left;
    margin: 0 1rem 1rem 0;
  }
  h1, h2, h3, h4, h5, h6 {
    word-break: keep-all;
    hyphens: none;
  }
}
