{%- capture img_style -%}
style="
  background-image: url('{{ page.hero_image | default: "/media/defaults/news.png" | absolute_url }}');
  background-color: #260326;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: bottom center;
  background-attachment: fixed;
"
{%- endcapture -%}

<section class="hero is-info has-text-white" {{ img_style }}>
  <div class="hero-head">
    {% include hero/partials/nav.html %}
  </div>  
  <div class="hero-body">
    {% include hero/partials/breadcrumbs.html %}
    <div class="container">
      <div class="columns">
        {% if page.home %}
          {% include hero/partials/home.html %}
        {% elsif page.collection == 'news' %}
          {% if page.category == 'event' %}
            {% include hero/partials/event.html %}
          {% else %}
            {% include hero/partials/news.html %}
          {% endif %}
        {% elsif page.collection == 'projects' %}
            {% include hero/partials/project.html %}
        {% else %}
          <div class="column">
            <div class="content">
              <h1 class="title is-size-2-widescreen is-size-3 pb-2 mt-0">
                {%- if page.collection == 'project_tags' -%}Tag: {{ page.slug }}{%- else -%}{{ page.title }}{%- endif -%}
              </h1>

              {% if page.subtitle %}<p class="subtitle is-size-6 is-size-5-widescreen">{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}</p>{% endif %}
              {% include hero/partials/buttons.html %}
            </div>
          </div>
        {% endif %}
        {% if page.contents_links %}
        <div class="column is-narrow">
          <div class="content">
            <p class="has-text-weight-bold mb-0">Quick Links:</p>
            <ul class="my-0 ml-0" style="list-style:inside;">
              {% for item in page.contents_links %}
              <li class="is-size-6 mt-0">
                <a class="is-underlined has-text-weight-normal" href="{{ item.link }}">
                  {{ item.label }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
