{%- capture img_style -%}
style="
  {%- if page.hero_image -%}
  background-image: url('{{ page.hero_image | absolute_url }}');
  {%- endif -%}
  background-color: #340934e3;
  background-size: cover;
  background-blend-mode: darken;
  background-position: bottom center;
  background-attachment: fixed;
"
{%- endcapture -%}

<section class="hero is-primary border-gradient" {{ img_style }}>
  <div class="hero-head">
    {% include hero/partials/nav.html %}
  </div>  
  <div class="hero-body">
    {% include hero/partials/breadcrumbs.html %}
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h1 class="title pb-2">
              {{ page.title }}
            </h1>
            {% if page.abstract %}<p class="subtitle">{{ page.abstract | trim }}</p>{% endif %}
            {% include hero/partials/buttons.html %}
          </div>
        </div>

        <div class="column is-narrow">
          <p class="is-size-6 mb-0">
            <i class="far fa-newspaper mr-1"></i> News
          </p>
          <p class="is-size-6 mb-0">
            <i class="fas fa-feather mr-1"></i> {{ page.date | date: "%m/%d/%Y" }}
          </p>
          <p class="is-size-6 mb-0">
            <i class="far fa-user mr-1"></i>&nbsp;
            {% if page.author %}{{ page.author }}
            {% else %}NYU DH Staff{% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
