---
layout: default
---
{% if page.category == 'DH Seed Grant Recipient' %}
<a href="{{ '/seed-grants' | absolute_url }}">Back to Seed Grants</a>
{% elsif page.category == 'DH Fellowship Recipient' %}
<a href="{{ '/fellowships' | absolute_url }}">Back to Fellowships</a>
{% endif %}

<div class="project-card">
  <h1>{{ page.title }}</h1>

  <div class='definition-block'>
    <div class='label'>Abstract</div>
    <div class='content'>
      {{ page.abstract | default: 'Coming Soon!' }}
    </div>
  </div>

  {% if page.link %}
  <div class='definition-block'>
    <div class='label'>Project Website</div>
    <div class='content'>
      <a href="{{ page.link | aabsolute_url }}">{{ page.link }}</a>
    </div>
  </div>
  {% endif %}

  <div class='definition-block'>
    <div class='label'>Category</div>
    <div class='content'>
      {{ page.category }}
    </div>
  </div>

  <div class='definition-block'>
    <div class='label'>Principal Investigators</div>
    <div class='content'>
      <ul class="unstyled">
      {% for pi in page.pis %}
        <li>
          {%- if pi.link -%}<a href="{{ i.link | absolute_url }}">{% endif %}
          <b>{{ pi.name }}</b>
          {%- if pi.link -%}</a>{% endif %}
          <br>
          {{ pi.title }}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  {% if page.news %}
  <div class='definition-block'>
    <div class='label'>Project News</div>
    <div class='content'>
      <ul class="unstyled">
      {% for item in page.news %}
        <li>
          {% if item.link %}<a href="{{ item.link | absolute_url }}">{% endif %}
          {{ item.label }}
          {% if item.link %}</a>{% endif %}{% if item.category %} ({{ item.category }}){% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
