
name: ci:test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BASEURL: ''
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: build
        run: bundle exec rake build
      - name: test
        run: bundle exec rake test
