<style>
  .hideContent {
    overflow: hidden;
    height: 4rem;
  }
  .showContent {
    height: auto;
  }
</style>


{% for course in include.data %}
<article class="message">
  <div class="message-body">
    <p class="title is-size-5" style="max-width:100%">
      {{ course.number }}:&nbsp;
      {%- if course.url -%}
        <a class="has-text-primary" href="{{ course.url | absolute_url }}">{{ course.title }}</a>
      {%- else -%}
        {{ course.title }}
      {%- endif -%}
    </p>
    <p class="is-size-6" style="max-width:100%"><b>Faculty: </b>{{ course.faculty }}</p>
    {% if course.description.size > 150 %}
    <div class="abbreviated-content">
      <p class="content hideContent mb-0"><b>Description: </b>{{ course.description }}</p>
      <a class="read-more">Read more</a>
    </div>
    {% else %}
      <p class="content"><b>Description: </b>{{ course.description }}</p>
    {% endif %}
  </div>
</article>
{% endfor %}
