{% assign projects = include.data | sort_natural : 'title' %}
<section class="{% if include.full_width == true and page.layout == 'default' %}full-width py-3 px-5{% endif %}">
  <div class="columns is-multiline is-vcentered">
    {% for project in projects %}
      <div class="column is-4 full-h">
        <div class="card hover-zoom is-relative full-h">
          <div class="card-image">
            <figure class="image is-3by1 {% if project.local_image %}{% else %} boop{% endif %}">
              {% if project.local_image %}
              <img class="img-fit" src="{{ project.local_image | prepend: 'media/projects/' | absolute_url }}" alt="Image for {{ project.title }} project">
              {% endif %}
            </figure>
          </div>
          <div class="card-content">
            <p class="{% if project.title.size > 20 %}is-size-6{% else %}is-size-5{% endif %} has-text-weight-bold pb-2 sm-lines">
              <a href="{{ project.url | absolute_url }}">{{ project.title }}</a>
            </p>
            <p class="is-size-6 sm-lines">{{ project.subtitle }}</p>
            {% if project.tags %}
            {% comment %}style="position:absolute;top:.5rem;right:.5rem;text-align:right;z-index:1000;margin-left:.5rem;"{% endcomment %}
            <div class="tags mt-4">
              {% for tag in project.tags %}
                <a href="/projects/tag/{{ tag | slugify }}" class="tag is-link is-light is-small">#{{ tag | slugify }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
