<style>
  img.circle-fill {
    height: 75px;
    width: 75px;
    border: 1px #eeeeee solid;
    object-fit: cover;
    border-radius: 50%;
  }
  .full-w {
    width: 100% !important;
  }
  .full-h {
    height: 100% !important;
  }
  .sm-lines {
    line-height:1.1rem;
  }
</style>

<section class="{% if include.full_width == true and page.layout == 'default' %}full-width py-3 px-5{% endif %}">
  <div class="columns is-multiline is-vcentered">
    {% for project in include.data %}
      <div class="column is-4 full-h">
        <div class="card is-relative full-h">
          <div class="columns is-vcentered mt-3 mb-0 mx-3">
            <div class="column is-narrow">
              <figure class="image full-h">
                <img class="circle-fill" src="{{ project.local_image | default:  'default.png' | prepend: 'media/projects/' | absolute_url }}" alt="{{ person.name }} image">
              </figure>
            </div>
            <div class="column">
              <p class="is-size-6 has-text-weight-bold pb-2 sm-lines">
                {% if project.link %}
                  <a href="{{ project.link | absolute_url }}">{{ project.title }}</a>
                {% else %}
                  {{ project.title }}
                {% endif %}
              </p>
              <p class="is-size-6 sm-lines">{{ project.tagline }}</p>
              {% if project.category %}
              <p class="mt-3 tags">
                <span class="tag is-light is-primary">{{ project.category | strip }}</span>
                {% if project.cohort_year %}<span class="tag is-light is-success">{{ project.cohort_year | strip }}</span>{% endif %}
              </p>
              {% endif %}
            </div>
          </div>
          <div class="column is-narrow" style="text-align:right;">
            {% if project.link %}
            <a href="{{ project.link | absolute_url }}">
              <b><i class="fas fa-arrow-right"></i></b>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
