{% assign cols = include.columns | default: 3 | plus: 0 %}
<section class="tiles {% if include.full_width == true and page.layout == 'default' %}full-width py-3 px-5{% endif %}">
  <div class="tile is-ancestor is-flex-wrap-wrap {% if include.color_tiles == true %}color-tiles{% endif %}">
    {% for card in include.cards %}
    {% if forloop.index < 5 %}
      {% assign color_num = forloop.index %}
    {% else %}
      {% assign color_num = forloop.index | modulo: 4 %}
    {% endif %}
    <div class="tile is-parent p-1 is-{{ 12 | divided_by: cols }}">
      <div class="tile is-child box content color-1">
        <p class="title is-5 pb-3">{{ card.name }}</p>
        <p class="subtitle is-6">
          {% if card.description.size %}
            {{ card.description }}
            &nbsp;&nbsp;
          {% endif %}
          {% if card.link.size %}
            <a href="{{ card.link | absolute_url }}">
              <i class="fas fa-external-link-alt"></i>
            </a>
          {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
